body {
  width: 400px;
  margin: 0 auto;
  font-family: verdana;
}

h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

p {
  margin-top: 10px;
  padding-top: 10px;
}

select {
  margin-top: 20px;
}
